# Learn Python

## Print Hello World

In [24]:
print("Hello World!")

Hello World!

## Tipe Data

### Integer

In [25]:
var_int= 3
print(var_int)

3

### Float/Double

In [26]:
var_float= 1.3
print(var_float)

1.3

### String

In [27]:
var_string= 'Hello world'
print(var_string[4])    # Mengambil karakter ke-4 dari var_string
print(var_string[1:5])  # Mengambil karakter ke-1 hingga ke-5 dari var_string
print(var_string)

o
ello
Hello world

### Boolean

In [28]:
var_boolean= True
print (var_boolean)

True

### List

In [29]:
var_list= ["Hello", "world", 1, 2, 3]
var_list[2] = 4       # Mengubah Item List
var_list.append(5)    # Menambahkan Item List
del var_list[2]       # Menghapus Item List

print (var_list[1])   # melakukan slicing
print ("List =",var_list)

world
List = ['Hello', 'world', 2, 3, 5]

### Tuple

In [30]:
# Tuple adalah jenis dari list yang tidak dapat diubah elemennya.
var_tuple= (1, "halo", 0.2)
print (var_tuple[1])   # melakukan slicing

halo

### Set

In [31]:
# Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection).
var_set = {1,2,2,3,3,3}

# Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.
print(var_set)

{1, 2, 3}

### Dictionary

In [32]:
# Dictionary adalah List yang setiap elemennya berupa pasangan key dan value
# Dictionary dapat digunakan untuk menyimpan data kecil hingga besar
var_dict= {1 : 'satu', 2 :'dua', 3 :'tiga'}

print(var_dict[3]) # Untuk mengakses datanya, kita harus mengetahui kuncinya (key)

tiga

## Operasi Aritmatika dan Operasi Bitwise

### Operasi Aritmatika

In [33]:
# Add
add = 5 + 3
print("5 + 3 = ",add)

# Substract
substract = 3 - 1
print("3 - 1 = ",substract)

# Divide
divide= 12/3
print("12 / 3 = ",divide)

# Multiplication
multiplication = 11 * 3
print("11 * 3 = ",multiplication)

# Modulo
modulo = 8 % 3
print("8 % 2 = ",modulo)

# Power
power = 3 ** 4
print("3^4 = ",power)

5 + 3 =  8
3 - 1 =  2
12 / 3 =  4.0
11 * 3 =  33
8 % 2 =  2
3^4 =  81

## Pengkondisian dan Perulangan

### Pengkondisian

In [34]:
a = 4

# if else
if(a == 1):
    print('a is 1')
elif(a == 2):
    print('a is 2')
else:
    print('a is not 1 or 2')

a is not 1 or 2

### Perulangan

In [35]:
var_list= [1, 2, 3, 4, 5, 6, 7]

# for loop
for i in var_list:
    print(i)
print()    

# while loop
a = 0
while(a != len(var_list)):
    print(var_list[a])
    a += 1
print()

1
2
3
4
5
6
7

1
2
3
4
5
6
7

## Fungsi

In [36]:
# Mendefinisikan fungsi
def hello_world():
    print('Hello World!')
    
def add(a, b):
    return a+b

def pangkat(x, y):
  return x**y

In [37]:
# Memanggil fungsi
hello_world()

print(add(1,5))

print(pangkat(2,4))

Hello World!
6
16